*{
  margin: 5px;
}
body{
  background-color: #f5f6fa;
}
.app_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app_stats{
  display: flex;
  justify-content: space-between;

}
.app{
  display: flex;
  justify-content: space-around;
}
.app_left{
  flex: 0.8;
}
