.table{
  margin-top: 20px;
  height: 650px;
  overflow: scroll;
  color: #6a5d5d;
}
.table tr{
  display: flex;
  justify-content: space-between;
}
.table td{
  padding: .5rem;
}
.table tr:nth-of-type(even){
  background: #f3f2f8;
}
